<!-- //app/templates/application.hbs -->

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
            <div class="navbar-header" href="#">
                {{#link-to 'index' class="navbar-brand"}}Models{{/link-to}}
            </div>
            <!--
            <ul class="nav navbar-nav">
                <li>{{#link-to 'about'}}about{{/link-to}}</li>
       			<li>{{#link-to 'posts'}}posts{{/link-to}}</li>
            </ul>
            -->
    </div>
</nav>

<div class="container-fluid" style="margin-top: 70px;">
<!-- 项目中其他所有的模板都是application的子模板，所以其他模板都会渲染到这里的 outlet上 -->
{{outlet}}
</div>   

<h1>{{model.title}}</h1>
<p>
{{model.body}}
</p>
<small>author: {{model.author}}</small>
{{!debugger}}
<br>
{{model.author.username}}